*{
	color: white;
	font-family: 'Red Hat display', sans-serif;
	// justify-content: center;
	max-width: 100%;
	
}
ol, ul 
{
	list-style: none;
	
}
body {
	background-color: #3e5569;
	max-width: 100%;
}